
##############################################
#                                            #
#    FILE UNDER ANSIBLE CONFIG MANAGEMENT    #
#                                            #
#          keep hands away                   #
#                                            #
# ansible-ssmtp/templates/revaliases.j2      #
#                                            #
##############################################

root:{{ ssmtp_rewrite_from }}:{{ ssmtp_smarthost}}
